In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from glob import glob
from plotly.offline import init_notebook_mode, iplot, plot
import plotly as py
init_notebook_mode(connected=True)
import plotly.graph_objs as go

In [ ]:
path = "../data/louisiana-flood-2016"
train = pd.read_csv(path + '/train.csv')
test = pd.read_csv(path + '/test.csv')

In [4]:
train.head()

      Image ID  Normal  Flooded
0   2004_0.png       0        0
1   2008_0.png       0        0
2    11006.png       1        0
3  10005_0.png       0        0
4  15003_0.png       0        0

In [5]:
test.head()

     Image ID  Normal  Flooded
0   16000.png       1        0
1  6007_1.png       0        1
2    6002.png       1        0
3  1005_1.png       0        1
4  5006_0.png       0        0

In [6]:
train.isnull().sum()

Image ID    0
Normal      0
Flooded     0
dtype: int64

In [7]:
test.isnull().sum()

Image ID    0
Normal      0
Flooded     0
dtype: int64

In [9]:
trainDataDbn = {'Normal':train['Normal'].value_counts().values[0],
                'Flooded':train['Flooded'].value_counts().values[1],
                'Not flooded': train['Flooded'].value_counts().values[0] - train['Normal'].value_counts().values[0]}
trainDataDbn

{'Normal': np.int64(135), 'Flooded': np.int64(86), 'Not flooded': np.int64(49)}